{% extends "base.html" %}

{% block content %}
<h1 class="title">
  Weather application with authentication
</h1>
<h2 class="subtitle">
  Please <u><a href="{{ url_for('auth.login') }}" >log in</a></u> or
  <u><a href="{{ url_for('auth.signup') }}" >sign up</a></u> to see the content of this website!
</h2>
{% endblock %}
