<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web app with Authentication</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-ios.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <section class="w3-center w3-ios-blue w3-padding-84 w3-opacity w3-hover-opacity-off">
        <div class="hero-body">
            <div class="container">
                <h1 class="title w3-ios-deep-blue">
                    Web app with Authentication
                </h1>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    <form method="POST">
                        <div class="field has-addons">
                            <div class="control is-expanded">
                                <input class="input" name="city" type="text" placeholder="City Name">
                            </div>
                            <div class="control">
                                <button class="button is-info">
                                    Add City
                                </button>
                            </div>
                        </div>
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                            {% for category, message in messages %}
                                {% set message_class = 'is-success' %}

                                {% if category == 'error' %}
                                    {% set message_class = 'is-danger' %}
                                {% endif %}
                                <div class="notification {{ message_class }}">{{ message }}</div>
                            {% endfor %}
                        {% endif %}
                        {% endwith %}
                    </form>
                </div>
            </div>
        </div>
    </section>
    <section class="section">
        <div class="container">
            <div class="columns">
                <div class="column is-offset-4 is-4">
                    {% for weather in weather_data %}
                    <div class="box">
                        <article class="media">
                            <div class="media-left">
                                <figure class="image is-50x50">
                                    <img src="http://openweathermap.org/img/w/{{ weather.icon }}.png" alt="Image">
                                </figure>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <span class="title">{{ weather.city }}</span>
                                        <br>
                                        <span class="subtitle">{{ weather.temperature }}° C</span>
                                        <br> {{ weather.description }}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <a href="{{ url_for('delete_city', name=weather.city) }}">
                                    <button class="delete"></button>
                                </a>
                            </div>
                        </article>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>


    <div class="w3-content w3-container w3-padding-64" id="contact">
      <h3 class="w3-center">LOCATION</h3>
      <div class="w3-center">
        <div class="w3-center">
          <div class="w3-large w3-margin-bottom">
            <i class="fa fa-map-marker fa-fw w3-hover-text-black w3-xlarge w3-center"></i> Volovăț, Suceava, Romania<br>
            <i class="fa fa-phone fa-fw w3-hover-text-black w3-xlarge w3-center"></i> Day phone: +40 754 610 233<br>
            <i class="fa fa-envelope fa-fw w3-hover-text-black w3-xlarge w3-center"></i> Email: vasile.hijs@gmail.com<br>
          </div>
          <p class="w3-center">Your feedback is important for us!</p>
            </form>
        </div>
      </div>
    </div>


    <footer class="w3-center w3-ios-blue w3-padding-64 w3-opacity w3-hover-opacity-off">
        <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>Back to top</a>
        <div class="w3-xlarge w3-section">
            <a href ="https://github.com/Vasile-Hij"><i class="fa fa-github w3-hover-opacity"></i></a>
            <a href ="https://www.linkedin.com/in/vasile-hij/"></a><i class="fa fa-medium w3-hover-opacity"></i></a>
            <a href ="https://vasilehij.medium.com"></a><i class="fa fa-linkedin w3-hover-opacity"></i></a>
        </div>
    </footer>
</body>

</html>